// COLORS
$theme-color: #af1b15;
$text-color: #383838;
$pure-white-color: #ffffff;
$shadow-color: rgba(0, 0, 0, 0.75);

// FONTS
$helvetica-regular: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
$helvetica-bold: 'Helvetica Neue Bold', 'Helvetica', 'Arial', 'sans-serif';
$pt-serif-regular: 'PT Serif', 'Open Sans', 'Arial', 'sans-serif';
